
#heading{
    text-align: center;
    font-size: 3em;
}
*{
    box-sizing: border-box;
    overflow: auto;
}
.a{
    border:1px solid black;
    background-color: lightgrey;
    margin: 2%;
    padding: 7px;
    text-align: center;
    position: relative;
    font-size: 2em;

}
#b{
    float: left;
    width: 29%;
}
#c{
    float: left;
    width: 29%;
}
#d{
    float: left;
    width: 29%;
}
.z{
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(82, 92, 112);
}



